<footer class="bg-gray-900 text-white pt-12 pb-6 border-t-8 border-gsuGold">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center flex-col mb-6">
            <h3 class="text-xl font-semibold mb-4 text-gsuGold">Location</h3>
            <div class="w-9/10">
                <div class="flex flex-row gap-4">
                    <iframe jsname="L5Fo6c" class="hidden md:block w-7/10 h-auto" sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads allow-modals allow-storage-access-by-user-activation" frameborder="0" aria-label="Map, Georgia Southern University Science Center" src="https://maps-api-ssl.google.com/maps?hl=en-US&amp;ll=31.9792707,-81.1609381&amp;output=embed&amp;q=Science+Center,+11935+Abercorn+St,+Savannah,+GA+31419&amp;z=17" allowfullscreen=""></iframe>
                    <div class="max-w-md">
                        <p>
                            Our lab is part of Department of Computer science at Georgia southern university Allen E. Paulson college of engineering. We are located in Room 143 in the Science Center (map on the left).
                            <br><br>
                            Our mailing address is: <br>
                            Science Center Room 143, <br>
                            11935 Abercorn St, <br>
                            Savannah, GA 31419
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-t border-gray-800 pt-6 px-0 lg:px-6 flex flex-col md:flex-row justify-between items-center">
            <p class="text-gray-500 text-xs text-center md:text-left mb-4 md:mb-0">
                &copy; 2026 Somatic Artificial Intelligence Laboratory. All rights reserved.
            </p>
            <p class="text-gray-500 text-xs text-center">
                Developed by <span class="text-gsuGold font-semibold">Akshay Bhuvaneswari Ramakrishnan</span> <br class="hidden md:block">and <span class="text-gsuGold font-semibold">Sai Siddhish Chandra Sekaran</span>
            </p>
        </div>
    </div>
</footer>