<nav id="navbar" class="sticky top-0 z-50 flex justify-center transition-all duration-300">
    <div id="nav-container" class="bg-gsuNavy text-white border-b-4 border-gsuGold w-full transition-all duration-300">
        <div class="max-w-7xl lg:mx-auto lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex items-center">
                    <a href="index.html" class="flex-shrink-0 flex items-center font-bold text-xl tracking-wide hover:text-gsuGold transition pl-4 lg:pl-0">
                        <!-- <img src="images/favicon.svg" alt="SAIL Logo" class="w-[50px]"> -->
                        SAIL
                    </a>
                </div>

                <div class="height-full flex items-center pr-4 lg:hidden" id="open-nav">
                    <i class="fa-solid fa-bars cursor-pointer text-2xl"></i>
                </div>

                <div class="fixed top-6 right-8 z-[50] hidden lg:hidden" id="close-nav">
                    <i class="fa-solid fa-x cursor-pointer text-2xl text-black"></i>
                </div>

                <div class="hidden w-screen h-screen fixed top-0 left-0 z- flex flex-col justify-center items-center bg-gray-50 text-black space-y-6 lg:w-fit lg:h-auto lg:flex lg:flex-row lg:bg-transparent lg:text-white lg:relative lg:items-center lg:space-y-0 lg:space-x-6" id="nav-links">
                    <a href="index.html" class="hover:text-gsuGold transition font-semibold text-2xl lg:text-sm uppercase tracking-wider">Home</a>
                    <a href="people.html" class="hover:text-gsuGold transition font-semibold text-2xl lg:text-sm uppercase tracking-wider">People</a>
                    <a href="equipment.html" class="hover:text-gsuGold transition font-semibold text-2xl lg:text-sm uppercase tracking-wider">Equipment</a>
                    <a href="projects.html" class="hover:text-gsuGold transition font-semibold text-2xl lg:text-sm uppercase tracking-wider">Projects</a>
                    <a href="publications.html" class="hover:text-gsuGold transition font-semibold text-2xl lg:text-sm uppercase tracking-wider">Publications</a>
                    <a href="funding.html" class="hover:text-gsuGold transition font-semibold text-2xl lg:text-sm uppercase tracking-wider">Funding</a>
                    <a href="events.html" class="hover:text-gsuGold transition font-semibold text-2xl lg:text-sm uppercase tracking-wider">Collaborators</a>
                    <a href="media.html" class="hover:text-gsuGold transition font-semibold text-2xl lg:text-sm uppercase tracking-wider">Student Posters</a>
                </div>
            </div>
        </div>
    </div>
</nav>
